:root {
    --cg-dark_purple: rgb(60, 9, 108);
    --cg-light_purple: rgb(179, 97, 246);
    --cg-lighter_purple: rgb(202, 137, 255);
    --cg-white: rgb(255, 255, 255);
    --cg-black: rgb(0, 0, 0);
    --cg-blue: rgb(36, 94, 255);
    
}
html {
    height: 100%;
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 5%;
    z-index: 10;

    display: flex;
    align-items: center;
    text-align: center;

    background-color: var(--cg-dark_purple);
    color: var(--cg-white);
    padding: 0px 0px;
}

.navbar a {
    text-decoration: none;
    color: var(--cg-light_purple); 
    font-weight: bold;
    font-size: larger;
    margin: 0 12px;
}

.navbar a:hover {
  color: var(--cg-white);
  text-decoration: underline;
}

.nav-list a {
  display: flex;
  flex-direction: row;
  float: right;
  list-style: none;
}

.logo a {
  font-family: "Comic mono", monospace;
}

.logo a:hover {
  text-decoration: None;
}

.page-title {
    margin: 20px;
}

.about {
    display: flex;
    text-align: center;
    padding: 20px;
    justify-content: space-between;
    font-size: 20px;
    border: 2px solid var(--cg-dark_purple);
    background-color: var(--cg-lighter_purple);
    border-radius: 5px;
    margin: 20px;
}

.about-text {
    flex-direction: row;
    text-align: left;
}

.about-image{
    flex-direction: column;
    float: left;
    margin: 0px 20px 0px 10px;
}

.image-caption {
    font-size: 15px;
    flex-direction: column;
    clear: left;
    float: left;
}

body {
    color: var(--cg-dark_purple);
    background-color : var(--cg-light_purple);
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4%;
    background-color: var(--cg-dark_purple);
    color: var(--cg-white);
    align-items: center;
    justify-content: center;
}